each layer, layer_index in cube
    div(id='layer'+layer_index, class='layer', style=(layer_index == 0) ? '' : 'display: none')
        each row, row_index in layer
            div(class='w3-row')
                span(class='w3-col s2 cell')
                each cell, cell_index in row
                    if cell == 0
                        span(class='w3-col s1 w3-border w3-hover-border-yellow cell', data-id=layer_index+','+row_index+','+cell_index)
                    else
                        span(class='w3-col s1 w3-border w3-hover-border-yellow cell circle', data-id=layer_index+','+row_index+','+cell_index)
                span(class='w3-col s2 cell')
