extends layout

block content
    div(class='w3-row')
        div(class='w3-quarter w3-black w3-container w3-center', style='height:700px')
            div(class='w3-padding-64')
                h1= title
            div(class='w3-padding-64')
                a(href='#', class='w3-btn w3-btn-block w3-hover-blue-grey w3-padding-16') Messages
        div(class='w3-threequarter w3-white w3-container', style='height:700px')
            div(class='w3-center')
                div(class='w3-container')
                    div(class='arrow-up', data-direction='up')
                    div(class='w3-container')
                        h3 GameBoard
                        h6(id='current_layer') 0
                    div(class='arrow-down', data-direction='down')
                each layer, layer_index in cube
                    div(id='layer'+layer_index, class='layer', style=(layer_index == 0) ? '' : 'display: none')
                        each row, row_index in layer
                            div(class='w3-row')
                                span(class='w3-col s2 cell')
                                each cell, cell_index in row
                                    span(class='w3-col s1 w3-border w3-hover-border-yellow cell')
                                span(class='w3-col s2 cell')
