doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body(class='w3-content', style='max-width:1300px')
    block content


    //- Load external CDN scripts
    script(
      src='https://code.jquery.com/jquery-3.1.0.min.js'
      integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='
      crossorigin='anonymous'
    )
    //- Load local scripts
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/change_layer_up.js')
    script(src='javascripts/change_layer_down.js')
    script(src='javascripts/drop_piece.js')
    script(src='javascripts/index.js')
