/*
* Circle for setting the cells
*/
.circle {
    border-radius: 50%;
    width: 20px;
	height: 20px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
